
.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 14%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 14px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}
.icon-bar a big{
    width: 60%;

}
.icon-bar {
  width: 100%; /* Full-width */
  background-color: #BAB2b5; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}
.icon-bar a:hover {
  background-color:		#123c69; /* Add a hover color */
}

.active {
  background-color: #AC3B61; /* Add an active/current color */
}
body{
    background-color: 		#EEE2dc;
}
h1{
    background-color:#EDC7b7 ;
}
